body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    p {
        font-size: 18px;
    }
    h1 {
        font-size: 25px;
    }
    figure {
        margin: 40px 0;
    }
    body {
        margin: 0 15px;
    }
}